@font-face {
  font-family: "Early GameBoy";
  src: url("Font/Early\ GameBoy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: 'Early GameBoy', sans-serif;
}

